@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

body {
	background-image: url(portal4.jpg);
	background-size: cover;



}






.A1 {

	text-decoration: underline;
	font-size: 25px;
	font-family: 'Karla', sans-serif;
	margin-left: 25px;
}

.A2 {


	font-size: 17px;
	font-family: 'Karla', sans-serif;
	margin-left: 25px;
}

.A3 {

	text-decoration: underline;
	font-size: 20px;
	font-family: 'Karla', sans-serif;
	margin-left: 25px;
}

a {
	
	color: #88E0EF;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Karla', sans-serif;
     transition: all 0.5s ease;


}

a:hover {
	color: white;
	 transition: all 0.5s ease;
}

.kikoo {
		min-height: 20px;
    display: flex;
    font-family: arial;
    flex-direction: column;
    position: relative;
   background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #3a3a3a4d;
    padding: 20px;
color: black;
   margin-right: 650px;
    margin-top: 15px;
    text-decoration: none;
    transition: all 1s ease;

}

.kikoo:hover {

	background-color: gray;
	color: white;
	 transition: all 1s ease;
}



.text {

	min-height: 45em;
    display: flex;
    flex-direction: column;
    position: relative;
   background-color: black;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #3a3a3a4d;
    padding: 1em;
color: #88E0EF;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 15px;

}


